img.thumb {
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img.thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.thumb-unselected {
    border: 1px solid #ddd; /* Gray border */
}

img.thumb-selected {
    border: 2px solid #ff00ff; /* Pink border */
}

img.thumb-done {
    border: 2px solid #00ff00; /* Green border */
}

img.thumb-error {
    border: 2px solid #ff0000; /* Red border */
}

div.imageScroller {
    width: 120px;
    height: 600px;
    overflow-y: scroll;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 370px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    position: absolute;
    z-index: 1;
    /*bottom: 125%;
    left: 50%;
    margin-left: -60px;*/
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}